*{
    background-image: url("https://images.unsplash.com/photo-1621472171349-3afd97085f29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1083&q=80");
    /* height: vh; */
    /* width: vw; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    margin : 200px auto ;
    margin-left: 650px;
}